@font-face {
  font-family: 'Againts';
  src: url('../fonts/againts-webfont-subset.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'adam.cg_proregular';
  src: url("../fonts/adam.cg_pro-webfont.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu mono bold';
  src: url("../fonts/UbuntuMono-Bold-subset.woff2");
  font-weight: bold;
  font-style: normal;
}

$accent: #ffc600;
$buttons: #a8763e;
$nums: #6f1a07;
$text: #2b2118;

html {
  font-size: 62.5%;
}
a, p {
  font-family: 'adam.cg_proregular';
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin: 3vh 0;
  font-size: 15rem;
  font-family: 'Againts';
  font-weight: 100;
  letter-spacing: 2px;
  color: $text;
  &>span {
    color: $accent;
    font-size: 1.5em;
    position: relative;
    top: 0.07em;
  }
}

.description {
  font-size: 2.4rem;
  color: $text;
  margin: 0 0 1vh;
  text-align: center;
}

.repo-link {
  background-color: rgba(168, 118, 62, 0.5);
  border-radius: 1.7em;
  padding: .5em;
  display: flex;
  align-items: center;
  color: $text;
  text-decoration: none;
  &__icon {
    width: 2.4em;
    height: 2.4em;
  }
  &__text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    margin-left: .3em;
  }
}

.nav {
  margin: 2em 1em 5em;
  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  &__item {
    background-color: rgba(168, 118, 62, 0.5);
    border-radius: 1.6em;
    overflow: hidden;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }
  &__link {
    display: block;
    font-size: 2em;
    text-decoration: none;
    color: $text;
    padding-top: .25em;
    padding-bottom: .25em;
    padding-left: 4.5em;
    padding-right: .5em;
  }
  &__number {
    font-family: 'ubuntu mono bold';
    font-size: 2.8em;
    color: $nums;
    position: absolute;
    top: -.28em;
    left: 0;
    &::before {
      content: '#';
    }
  }
}

@media (max-width: 48rem) {
  .heading {
    font-size: 18vw;
  }
  .description {
    font-size: 2rem;
  }
}

.background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  filter: blur(40px);
}

@media (min-resolution: 150dpi) {
  .background {
    filter: blur(20px);
  }
}